<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Project 2 Home Page</h1>
        <nav>
            <a href="/course/new">Enter a New Course</a>
        </nav>
        <ul>
            <% for(let i=0; i<course.length; i++) { %>
            <li>
                <a href="/course/<%=course[i].id%>"> <%=course[i].courseName%> </a>
                    <!--  ADD DELETE FORM HERE-->
                <form action="/course/<%= course[i].id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
            </form>
                    <!-- Add edit link here  -->
                <a href="/course/<%= course[i].id %>/edit">Edit</a>
                <br /><br />
                <% } %>
            </ul>
            <!-- <nav>
                <a href="/course/new">Create a New course</a>
            </nav> -->
    </body>
</html>