<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Project 2 Home Page</h1>
        <nav>
            <a href="/course/new">Enter a New Course</a>
        </nav>
        <ul>
            <% for(let i=0; i<course.length; i++) { %>
            <li>
                <a href="/course/<%=course[i].id%>"> <%=course[i].name%> </a>
                    <!--  ADD DELETE FORM HERE-->
                <form action="/courses/<%=course[i].id; %>?_method=DELETE" method="POST">
				<input type="submit" value="DELETE Course"/>
            </form>
                    <!-- Add edit link here  -->
                <a href="/courses/<%=course[i].id %>/edit">Edit</a>
            </li>
                <% } %>
            </ul>
            <nav>
                <!-- <a href="/fruits/new">Create a New Fruit</a> -->
            </nav>
    </body>
</html>