<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Course page</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/courses" method="POST">
            <!-- User Id: <input type="text" name="userId" /> -->
            Name: <input type="text" name="name" /><br/>
            Location: <input type="text" name="location" /><br/>
            Par: <input type="text" name="par" /><br/>
            <!-- Img: <input type="text" name="" /><br/> -->
        </form>
    </body>
</html> 